.example-card {
    max-width: 400px;
  }
  
.example-header-image {
    background-image: url('https://d25dk4h1q4vl9b.cloudfront.net/bundles/front/media/images/favicons/favicon-512.png');
    background-size: cover;
}

.imageCard{
    height: 300px;
}