<form class="booking-form" [formGroup]="bookingForm" (ngSubmit)="sendBooking()">
    <h1>Realiza tu reserva</h1>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Personas</mat-label>
            <input type="number" formControlName="customers" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Turno</mat-label>
            <mat-select formControlName="turn">
                <mat-option *ngFor="let turno of restaurant.turns" [value]="turno.id">
                    {{turno.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Dia</mat-label>
            <input matInput [matDatepicker]="date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input type="string" formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="string" formControlName="name" matInput>
        </mat-form-field>
    </div>
    <div class="text-right">
        <button type="submit" mat-button color="primary" [disabled]="!bookingForm.valid">Enviar Reserva</button>
    </div>
</form>